@import "./components/_standings.scss";
@import "./components/_header.scss";
@import "./components/_navigation.scss";
@import "./components/_logo.scss";
@import "./components/_buttons.scss";
@import "./components/_driverDetails.scss";
@import "./components/_enter.scss";
@import "./partials/_fonts.scss";
@import "./partials/_variables.scss";
@import "./partials/_arrows.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    //letter-spacing: 1px;
    //font-weight: 600;
    background: black;
}

.page_wrap {
    margin: 0 auto;
    width: 90%;
    //border: 1px solid red;
    //background: url('../assets/images/back1.jpg')
}

