//@import "modules/_all.scss";
//@import "modules/_colors.scss";
//@import "partials/_base.scss";
//@import "partials/_header.scss";
//@import "partials/_footer.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    color: blue;
}