@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
//@import url('https://fonts.googleapis.com/css?family=Lato');
//
//@import url('https://fonts.googleapis.com/css?family=Mina');

@import url('https://fonts.googleapis.com/css?family=Jaldi:700');

@font-face {
    font-family: 'moonhouse';
    src: url('../assets/fonts/moonhouse.eot');
    src: local('moonhouse'),
    url('../assets/fonts/moonhouse.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/moonhouse.woff2') format('woff2'),
    url('../assets/fonts/moonhouse.woff') format('woff'),
    url('../assets/fonts/moonhouse.ttf') format('truetype'),
    url('../assets/fonts/moonhouse.svg#moonhouse') format('svg');
    font-weight: normal;
    font-style: normal;
}

