div.buttons {
    display: flex;
    justify-content: center;
}

div.buttons div {
    display: inline-block;
    background: #46B5EF;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    margin: 0 20px;
    width: 120px;
    text-align: center;
    cursor: pointer;
}