th.laps,
th.finished,
th.points {
    width: 10%;
}

th.lp {
    width: 20%;
}

th.race,
th.qualPos {
    width: 30%;
}

th.race {
    text-align: left;
}

td.round,
td.qualPos,
td.laps,
td.finished {
    text-align: center;
}


